body {
  font-family: "Comic Sans MS";
  background-color: FFFFFF;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.flexsection {
  display: flex;
}

.textsection {
  margin-left: 50px;
  padding-left: 50px;
}
.flexsection {
  margin-top: 20px;
}

.purple {
  color: #7939cc;
}

.orange {
  color: #f9742a;
}
.hello {
  color: #7939cc;
  padding-top: 50px;
  padding-left: 50px;
  font-size: x-large;
}
.KidsinBalloon {
  padding-left: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0%;
  padding-top: 0px;
}
.textsection {
  padding-top: 100px;
  text-align: center;
  font-weight: 800;
}

.gameButton {
  font-family: "Comic Sans MS";
  background-color: #f9742a;
  width: 100%;
  padding: 10px;
  margin: auto;
  border-radius: 15px;
  color: white;
  margin-top: 60px;
  display: flex;
  font-size: 1.2rem;
  border: 1px solid black;
  justify-content: space-around;
  box-shadow: 2px 3px 5px 0px #5d5d6a;
}
.gameButton > span {
  color: white;
  font-weight: 900;
}
.text {
  font-weight: 900;
  margin-top: 4 rem;
}
