.edit-password--container {
  padding: 1rem;
  width: calc(100vw - 16rem);
}

.edit--actions {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.edit-text {
  color: #7939cc;
  text-decoration: underline;
  font-size: 1.5rem;
}

.cancel-edit {
  color: #cc5512;
  font-size: 1.5rem;
}

.edit-header--container {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.edit--header {
  font-size: 3rem;
  color: #7939cc;
  font-weight: 600;
}

.edit--profile {
  position: relative;
}

.edit-user--image {
  border-radius: 100%;
  height: 8rem;
  width: 8rem;
  margin-top: 1rem;
  border: 5px solid #e8e8e8;
}

.edit--icon {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
}

.header-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 8rem;
}

.edit-cta--buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.upload {
  background: #cc5512;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: 1px solid #cc5512;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.del {
  background: #fffded;
  border: 1px solid #cc5512;
  color: #cc5512;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}

.edit-form--container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.edit-form--row {
  width: 90%;
  margin: 0 auto 3rem auto;
  display: flex;
  gap: 2rem;
}

.edit-form--container label {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.edit-form--container input,
.edit-form--container select {
  /* height: 3rem; */
  padding: 1rem 0.5rem;
  background: #fffded;
  border: 1px solid #505050;
  border-radius: 6px;
  outline: none;
}

.edit-form--container input::placeholder {
  font-size: 1.2rem;
}

.edit-form--button {
  width: 100%;
  border-radius: 0.625rem;
  background-color: rgba(204, 85, 18, 1);
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  padding: 1rem 0;
  margin-top: 1.5rem;
  cursor: pointer;
}
