body {
    padding: 0;
    margin: 0;
    background-color: #FFFDED;
}


.hero-section {
    width: 100%;
    margin-top: 6rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section {
    width: 48%;
    padding: 10px;
    margin-top: 5rem;
}

.herobtn {
    width: 257px;
    height: 100px;
    border-radius: 16px;
    background-color: rgba(204, 85, 18, 1);
    border: none;
    font-size: 28px;
    font-weight: 400;
    color: white;
    font-family: 'Comic Sans MS';
}

.header-text {
    width: 600px;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: -10px;
    font-family: 'Comic Sans MS';
}

.body-text {
    font-size: 28px;
    font-weight: normal;
}

span {
    color: #666666;
}

/* -------------right section-------------- */

.right-section {
    width: 48%;
}

.left-img {
    width: 500px;
}

.right-img {
    margin-left: -460px;
    margin-top: 15px;
    width: 600px;
    height: 650px;
}

