.container {
    padding: 3rem 3rem;
    display: flex;
    justify-content: space-between;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 22px;
}

.gobackarrow {
    width: 30.09px;
    height: 30.4px;
}

.left-header-text {
    font-family: 'Comic Sans MS';
    font-size: 50px;
    font-weight: 400;
}

/* ---------------------------------------------hero section----------------------------------------------- */

.hero-teacher {
    margin: 1rem 0;
}

.partsofspeech {
    font-family: 'Comic Sans MS';
    font-size: 46px;
    font-weight: 700;
    color: rgba(249, 116, 42, 1);
}

.start {
    font-family: 'Comic Sans MS';
    font-size: 28px;
    font-weight: 400;
}

/* ---------------------------------------------------------modules------------------------------------------- */
.modules {
    width: 633px;
    height: 352px;
    margin-top: 1rem;
    display: grid;
    grid-gap: 16px;
}

.module-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.module-hero {
    display: flex;
    gap: 16px;
    align-items: center;
}

.module-text {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Comic Sans MS';
}

.module-btn {
    width: 100px;
    height: 40px;
    background-color: rgba(204, 85, 18, 1);
    border: none;
    border-radius: 7px;
    font-family: 'Comic Sans MS';
    color: white;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.module-btn:hover {
    cursor: pointer;
}

.view-more-cont {
    display: flex;
    justify-content: flex-end;
}

.view-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(204, 85, 18, 1);
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    width: 149px;
}

/*-------------------------------------------------------Right Section----------------------------------------------*/

.right_section {
    width: 419px;
    height: 974px;
}

.right-header {
    display: flex;
    justify-content: space-between;
}

.right-header-txt {
    font-family: 'Comic Sans MS';
    font-size: 32px;
    font-weight: 700;
    color: rgba(249, 116, 42, 1);
}

.achievements {
    margin-top: 30px;
    width: 419px;
    height: 261px;
    border-radius: 24px;
    background-color: rgba(245, 237, 255, 0.5);
    padding: 9px 10px 9px 10px;
    display: grid;
    grid-gap: 20px;
}

.view-all {
    display: flex;
    align-items: center;
}

.view-all-text {
    font-family: 'Comic Sans MS';
    font-size: 28px;
}

.progress {
    display: flex;
    align-items: center;
    gap: 30px;
}

.progress-props {
    display: grid;
    grid-gap: 8px;
}

.progress-text {
    font-family: 'Comic Sans MS';
    font-weight: 400;
    font-size: 26px;
}

.progress-rating {
    color: rgba(86, 195, 60, 1);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Comic Sans MS';
}

.rewards {
    display: grid;
    margin-top: 5rem;
    grid-gap: 38px;
    place-content: end;
}

.reward-card {
    width: 265px;
    height: 248px;
    display: grid;
    grid-gap: 3px;
    place-items: center;
}

.movie-title {
    font-family: 'Comic Sans MS';
    color: rgba(69, 156, 48, 1);
    font-size: 31px;
    font-weight: 400;
}

.movie-key {
    background-color: rgba(86, 195, 60, 1);
    border: none;
    border-radius: 16px;
    width: 176px;
    height: 32px;
    color: black;
    font-size: 13px;
    font-family: 'Baloo 2';
    display: flex;
    align-items: center;
    justify-content: center;
}