.container {
    background-color: rgba(249, 116, 42, 1);
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 971px;
    height: 450px;
}

.top-text {
    color: rgba(255, 233, 220, 1);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.block {
    width: 170px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    color: rgba(255, 233, 220, 1);
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}